---
- name: Configuración de Automontaje NFS con AutoFS
  hosts: ubuntu
  become: true # Necesario para instalar paquetes y tocar /etc/

  # Definimos variables para facilitar cambios futuros
  vars:
    nfs_server_ip: "192.168.10.11"
    nfs_export_path: "/srv/nfs/shared"
    # Ruta absoluta donde están TUS archivos en la máquina donde corres Ansible
    local_files_path: "/home/sysadmin/taller-feb2026/playbooks/files"

  tasks:
    - name: 1. Instalar paquetes necesarios
      # Instalamos autofs para el automontaje y nfs-common para el protocolo NFS
      ansible.builtin.apt:
        name: 
          - autofs
          - nfs-common
        state: present
        update_cache: true

    - name: 2. Copiar archivo maestro de AutoFS
      # Este archivo le dice a AutoFS que vigile /mnt y use /etc/auto.nfs
      ansible.builtin.copy:
        src: "{{ local_files_path }}/ntf-autofs"
        dest: /etc/auto.master.d/ntf-autofs
        owner: root
        group: root
        mode: '0644'
      notify: restart autofs # Si el archivo cambia, avisa al handler

    - name: 3. Copiar mapa de montaje (auto-fs)
      # Este archivo contiene la ruta del servidor CentOS
      ansible.builtin.copy:
        src: "{{ local_files_path }}/auto-fs"
        dest: /etc/auto.nfs
        owner: root
        group: root
        mode: '0644'
      notify: restart autofs

    - name: 4. Asegurar que el servicio esté corriendo
      # Garantiza que AutoFS esté activo y arranque con el sistema
      ansible.builtin.systemd_service:
        name: autofs
        state: started
        enabled: true

  handlers:
    # Este bloque solo se ejecuta si la tarea 2 o 3 indican un "changed"
    - name: restart autofs
      ansible.builtin.systemd_service:
        name: autofs
        state: restarted
